body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(189, 141, 251);
    background-color: rgb(108, 223, 251);
}